header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;

  .gnb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
    padding: 0 20px;

    h1{
      img{
        width: 100%;
      }
    }

    ul{
      display: flex;
      li{
        margin-left: 50px;
        a{
          color: #000;
        }
      }
    }
  }
}